body {
    font-family: 'Arial', sans-serif;
    background-color: #232223;
    color: #fff;
    margin: 0;
    padding: 20px;
    text-align: center;
}

header h1 {
    color: #1899d4;
    font-style: bold;
}

.main-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.bingo-table {
    margin: 20px auto;
    border-collapse: collapse;
    width: 80%;
}

.bingo-table th, .bingo-table td {
    padding: 10px;
    text-align: center;
}

.bingo-table th {
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #fff;
    font-size: 40px;
    color: #1899d4;
    font-weight: 1000;
}

.bingo-table td {
    font-size: 28px;
    background-color: #191918;
    color: white;
}

.bingo-table td button {
    background: none;
    border: none;
    color: #464646;
    font-size: inherit;
    cursor: pointer;
    padding: 10px;
    font-weight: 1000;
}

.called {
    color: white !important;
}

.control-panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 20px;
}

.logo {
    width: 200px;
    margin-bottom: 20px;
    margin-top: -50px;
}

.display-panel {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}

.control-panel .total-calls, .control-panel .previous-call {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.control-panel .winning-amount{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.control-panel .display-winning {
    background-color: #000;
    border: 1px solid #0af;
    font-size: 36px;
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.control-panel .display {
    background-color: #000;
    border: 2px solid #0af;
    font-size: 36px;
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

.control-panel .buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.control-panel .btn {
    background-color: #0af;
    border: none;
    color: #000;
    padding: 10px 20px;
    font-size: 20px;
    cursor: pointer;
    border-radius: 5px;
}

.control-panel .btn:hover {
    background-color: #0099cc;
}

.winning-patterns {
    margin-top: 20px;
    text-align: left;
}

.winning-patterns h3 {
    margin-bottom: 10px;
}

.winning-patterns ul {
    list-style: none;
    padding: 0;
}

.winning-patterns li {
    margin-bottom: 5px;
}

.bingo-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.last-five-calls {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.previous-number {
    width: 180px;
    height: 180px;
    background-color: white;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 60px;
    color: black;
    margin: 0 5px;
    transition: all 0.3s ease;
    border: 10px solid;
    position: relative;
}

.previous-number.current-call {
    width: 230px;
    height: 230px;
    font-size: 80px;
    border-width: 20px;
}

.previous-number::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 90%;
    height: 90%;
    border: 5px solid;
    border-radius: 100%;
    transform: translate(-50%, -50%);
}

.previous-number span {
    display: block;
    text-align: center;
    font-weight: bold;
}

.ball-blue {
    border-color: #3B82F6;
}

.ball-blue::after {
    border-color: #3B82F6;
}

.ball-red {
    border-color: #EF4444;
}

.ball-red::after {
    border-color: #EF4444;
}

.ball-orange {
    border-color: #F97316;
}

.ball-orange::after {
    border-color: #F97316;
}

.ball-green {
    border-color: #22C55E;
}

.ball-green::after {
    border-color: #22C55E;
}

.ball-yellow {
    border-color: #EAB308;
}

.ball-yellow::after {
    border-color: #EAB308;
}
